*{padding: 0;
margin: 0;}
body{
    font-family: cursive;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.active a{background-color: transparent!important;color: #5755e1!important;}
.navbar-default{background: #fff!important;}
.navbar{border: none!important;}
.head{padding: 20px;}

ul li a{
    font-size: 16px;font-family: cursive;
}
ul li{padding: 10px 10px;}
.navbar-nav li a:hover{color: #5755e1!important;}
.navbar-brand img{    margin-left: 80px;}
.navbar-right{margin-right: 20px!important;}

.selecter{margin-top:150px; 
background-image: url("../img/banner/home-banner.png");
background-repeat: no-repeat;
background-size: cover;    background-position-y: -65px;}
.image img{width: 540px;
    padding: 20px;}
.text{padding-top: 50px;}
.text h2{font-size: 50px;line-height: 72px;font-weight: bold;font-family: cursive;}
.text h2::after{
    content: " ";
    height: 2px;
    width: 260px;
    background: black;
    display: inline-block;
    margin: 0px 0 13px 45px;
}
.text h1{font-size: 60px;line-height: 72px;font-weight: bold;font-family: cursive;}
.text h3{font-size: 25px;line-height: 50px;font-weight: bold;font-family: cursive;}
.hire,.get-cv{float: left;padding: 13px 35px;border: 2px solid blue;font-family: cursive;
cursor: pointer;border-radius:5px ;}
.hire{ background: blue; margin-right:20px ; color: white;}
.hire:hover,.dl-cv:hover{background: white;border: 2px solid blue;color: black;}
.get-cv:hover{background: blue;border: 2px solid blue; color: white;}

.selecter1{margin-top: 70px;margin-bottom: 90px;}
.dl-cv{font-family: cursive;background: blue;padding: 13px 35px;border: 2px solid blue;color: white;
    width: 13em;border-radius:5px ;
}
.text1 h1{font-size: 50px;line-height: 60px;font-weight: bold;letter-spacing: 20px;font-family: cursive;}
.text1 p{font-family: cursive;font-size: 16px;line-height: 25px;margin-right: 115px;}

.selecter2{margin: 10px 0 80px 0;}
.selecter2 .text2{background: url(../img/client-info-bg.png) no-repeat;background-position-x: 5px;background-size: auto;    margin: 30px -50px 0 50px;}
.logo-banner img{    width: 160px;
    height: 90px;
    border: 1px solid #ebeaea;
    padding: 26px;
    margin: 15px;
}
.logo-banner img:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}
.text2 h5 .number{font-family: cursive;font-size: 85px;line-height: 40px;font-weight: bold;color: #854fee;}
.text2 h5{font-family: cursive;font-size: 22px;line-height: 30px;font-weight:600;color: #212529;     margin: 30px 80px;}
.contact{margin: 150px -50px 0 93px;}
.contact span{    font-size: 50px;
    display: inline-block;
    
    padding-right: 13px;}
.contact h6{font-size: 25px;
    color: blue;font-family: cursive;}
.contact p{font-family: cursive;font-size: 16px;}

.selecter3{margin: 30px 0 0 90px;}
.header h2{font-size: 35px;font-family: cursive;}
.header p{font-size: 16px;font-family: cursive;font-weight: 500;line-height: 25px;padding: 0 50px;}
.card{background: #f8fcfd;width: 260px;}
.card img{padding: 50px 0;}
.col-lg-3{padding: 0!important;}
.card-title{font-size: 20px;font-family: cursive;}
.card-text{font-size: 15px;font-family: cursive;padding: 20px 20px 70px 20px;}
.hover:hover{box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);}

.selecter4{margin: 90px 0 50px 90px;}
.nav>li{display: inline-block!important;}
.title{margin-bottom: 50px;}
.title h1{font-size: 40px;line-height: 40px;font-family: cursive;}
.nav li a{color: black;font-weight: 400;font-family: cursive;}
.nav li a:hover{background: transparent!important;color: black!important;}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.selecter6{
    background: url(../img/subscribe-bg.png) no-repeat;
    background-size:cover ;
}
.selecter6 form{padding-left: 220px;padding-bottom: 100px;}
.selecter6 input[type="text"]{width: 400px;
    padding: 23px 20px;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font-size:17px;}
    .selecter6 input[type="submit"]{
        margin: 0 40px;padding: 23px 20px;line-height: 4px;
    }
    .input{padding-top: 50px;}

    .selecter7 img{margin: 20px;}
    .icon a i{margin: 30px;}